# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled MATLAB files and other temporary files
*.mex*
*.log
*.asv
*.tmp

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
.miRNA/
.venv/

# Ignore macOS system files
.DS_Store

# Ignore local configuration or IDE-specific files
.vscode/

# Optional: Ignore raw datasets and temporary directories
# raw_data/
# temp/
